<script type="x/template" id="vue-guest-login">
    <div>
        <form :id="'guest-login-form-' +_uid" class="mb-3 login-pwd-reset">





                            <div class="input-unit" data-validate="mail">
                                {% set uid_mail = uid() %}
                                <input type="email" name="email" id="{{ uid_mail }}" v-model="email" data-autofocus>
                                <label for="{{ uid_mail }}">{{ trans("Ceres::Template.loginEmail") }}*</label>
                            </div>
                            <span class="error-msg">{{ trans("Ceres::Template.loginEnterConfirmEmail") }}</span>


                            <button @click.prevent="validate" :disabled="isDisabled" class="btn btn-primary btn-medium float-right">
                                <i v-waiting-animation="isDisabled" class="fa fa-arrow-right" aria-hidden="true"></i>
                                {{ trans("Ceres::Template.loginNext") }}
                            </button>




        </form>
    </div>
</script>
